.contact {
  background-color: $color-main;
  min-height: 100vh;
  input, textarea {
    background-color: $color-main !important;
    color: $color-white;
  }
  button {
    font-weight: map-get($font-weights, bold);
    display: inline-block;
    transition: 0.5s;
    margin: 10px;
    border: 1px solid $color-white;
    color:$color-white;
    background-color: transparent;
    &:hover {    
      background: $color-main;
      border: 1px solid $color-green;
      color: $color-green;
      text-decoration: none;
    }
  }
}

