.contact {
  background-color: $color-grey;
  &__title {
    margin-top:8vh;
  }
  input, textarea {
    background-color: $color-grey !important;
    color: $color-white;
  }
  button {
    font-weight: map-get($font-weights, bold);
    display: inline-block;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid $color-white;
    color:$color-white;
    background-color: transparent;
    &:hover {    
        background: $color-white;
        border: 2px solid $color-white;
        color: $color-grey;
        text-decoration: none;
    }
  }
}

