#cta {
  background: $color-main;
  padding: 15vh 0;
  color:$color-white;  
  .cta-btn {
    display: inline-block;
    transition: 0.5s;
    font-weight: map-get($font-weights, bold);
    margin: 10px;
    border: 1px solid $color-white;
    color:$color-white;
    &:hover {    
      background: $color-main;
      border: 1px solid $color-green;
      color: $color-green;
      text-decoration: none;
    }
  }
}