nav img {
    width: 45px;
  }
    ul li a {
    font-family: $primary-font;
    color:$color-white;
    font-weight: 500;
    font-size: 1.5rem;
    &:hover {
      color: $color-green !important;
      transition: 0.5s !important;
  }
}

