@media screen and (max-width: 767px) {
  .main__title {
    font-size: map-get($font-sizes, h3);
    line-height: 3rem;
  }
  .contact__title {
    font-size: map-get($font-sizes, h4);
    line-height: 2rem;  
  }
  li {
    padding: 0 0 2vh 0;
  }
  .main__title {
    padding-top: 10vh;
  }
  .artists__wrap .gridy-1 {
    width: 100%;
  }
  .artists__wrap .gridy-2 {
    width: 100%;
  }
  .artists__wrap .gridy-3 {
    width: 100%;
  }
  .artists__wrap .gridyhe-1 {
    height: 320px;
  }
  .artists__wrap .gridyhe-2 {
    height: 320px;
  }
}

@media screen and (max-width: 992px) {
  .flipster {
    padding-top: 5vh;
    padding-bottom: 15vh;
  }
  .file__title {
    margin-top: 5vh;    
  }
  .art__card {
    max-width: 100%;    
  }
  .art__card:nth-child(3) {
    margin-top: 5vh;
  }
  .art__card--active {
    padding-top: 5vh;
    max-width: 100%;
  }
  .effect-underline {
    display: inline-block !important;
  }
  .navbar-collapse {
    text-align: center !important;
  }  
  .navbar-toggler {
    border: none;
  }
  button:focus {
    border: none;
    outline: none;
  }
  .bg-darker {
    padding: 1vh 2vh;
  } 
}

@media screen and (min-width: 1024px) {
  .artists__wrap .gridy-1 {
    width: 33.3%;
  }
  .artists__wrap .gridy-2 {
    width: 66.6%;
  }
  .artists__wrap .gridy-3 {
    width: 100%;
  }
  .artists__wrap .gridyhe-2 {
    height: 640px;
  }
}